h1{
    color: red;
    margin-left: 200px;
    margin-bottom: 10px;
}

h3{
    color: blue;
    margin-left: 50px;
}

h6{
    color: green;
    font-size: 14pt;
}

p{
    color: grey
}

div{
    background-color: aqua
}

#another{
    margin-left: 11px;
    color: blueviolet
}